body{
    background: fixed;
    background-image: url('../media/banner.jpg');
    background-size: cover;
}

h1{
    font-weight: 400;
    font-style: italic;
    color: black;
}

h2 {
    font-weight: 900;
    font-style: oblique;
    color: black;
}

p{
    font-weight: bold;
    font-style: inherit;
    color: black;
}
p1{
    font-style: italic;
    color: black;
}
